<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{studentrecord.student_name}}</title>
  </head>
  <body>
    <h1>{{studentrecord.student_name}} Details</h1>
    <img
      src="{{studentrecord.student_image.url}}"
      width="100px"
      height="100px"
      alt="images"
    />
    <h3>ID : {{studentrecord.student_id}}</h3>
    <h3>Student Name : {{studentrecord.student_name}}</h3>
    <h3>Student Gender : {{studentrecord.gender}}</h3>
    <h3>Address : {{studentrecord.address}}</h3>
    <h3>Grade : {{studentrecord.grade}}</h3>
    <h3>Date of Birth : {{studentrecord.dob}}</h3>
    <a href="{% url 'index' %}">Back</a>
  </body>
</html>
